:root {
    --tech-gold: rgb(179,163,105);
    --tech-gold-hover: rgb(142, 129, 83);
    --navy-blue: rgb(0, 48, 87);
    --navy-blue-hover: rgb(0, 21, 38);
    --white: rgb(245, 245, 245);
    --off-black: #262626;
    --off-black-lighter: #777777;
    --gray-matter: rgb(84, 88, 90);
}

html,
body {
    background-color: var(--white);
    margin: 0;
    overscroll-behavior-y: none;
}

@font-face {
    font-family: "din-2014";
    src:url("/static/fonts/din-2014.woff2") format("woff2"), url("/static/fonts/din-2014.woff") format("woff"), url("/static/fonts/din-2014.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch:normal;
}
    
.tk-din-2014-narrow { font-family: "din-2014",sans-serif; }

/*
Tweaks
================================================================================
*/

.tw__gt-copyright {
    display: flex; 
    flex-direction: column; 
    align-items: left;
}

.tw__gt-logo-link {
    display: block; 
    margin: 0; 
    padding: 0;
}

.tw__gt-footer {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 990;
    width: 100vw;
}

.tw__footer-link {
    display: flex;
    align-items: center;
}

.tw__footer-link > svg {
    height: 1rem;
    width: 1rem;
}

.tw__gt-phone,
.tw__gt-campus-map {
    fill: var(--off-black);
    margin-right: .5rem;
}

.tw__link {
    fill: var(--off-black);
    height: 1.5rem;
    width: 1.5rem;
}

.tw__link:hover {
    fill: white;
}

/*
Nav
================================================================================
*/
.nav {
    --x-padding: 8rem;
    align-items: center;
    display: flex;
    background: transparent;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    height: 3.75rem;
    padding: 0 var(--x-padding);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 991;
}

@media screen and (max-width: 850px) {
    .nav {
        --x-padding: 2rem;
        align-items: center;
        display: flex;
        background: transparent;
        box-shadow: none;
        font-family: "Roboto", sans-serif;
        height: 3.75rem;
        padding: 0 var(--x-padding);
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 991;
    }
}

.nav__white {
    background: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

@keyframes nav-fade-in {
    0% {
        background: transparent;
        box-shadow: none;
    }
    100% {
        background: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
}

.nav__fade-in {
    animation: nav-fade-in .25s ease-in-out forwards;
}

@keyframes nav-fade-out {
    0% {
        background: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    100% {
        background: transparent;
        box-shadow: none;
    }
}

.nav__fade-out {
    animation: nav-fade-out .25s ease-in-out forwards;
}

@keyframes nav-button-fade-in {
    0% {
        stroke: var(--white);
    }
    100% {
        stroke: var(--off-black);
    }
}

.nav__button__fade-in > svg > path {
    animation: nav-button-fade-in .25s ease-in-out forwards;
}

@keyframes nav-button-fade-out {
    0% {
        stroke: var(--off-black);
    }
    100% {
        stroke: var(--white);
    }
}

.nav__button__fade-out > svg > path {
    animation: nav-button-fade-out .25s ease-in-out forwards;
}

.nav__logo__container,
.nav__links__container {
    align-items: center;
    display: flex;
}

@media screen and (max-width: 850px) {
    .nav__links__container {
        display: none;
    }
}

.nav__menu__button {
    display: none;
}

.nav__menu__button > svg {
    height: 24px;
    width: 24px;
}

.nav__menu__button > svg > path {
    stroke: var(--white);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.nav__menu__button__white > svg > path {
    stroke: var(--off-black);
}

@media screen and (max-width: 850px) {
    .nav__menu__button {
        background: transparent;
        display: block;
        height: 1.875rem;
        width: 1.875rem;
        border: none;
        padding: 0;
    }
}

.nav__logo {
    height: 1.875rem;
}

.nav__link {
    background: transparent;
    border: 0;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    margin: 0 1rem 0 0;
    padding: 0;
    text-decoration: none;
}

.nav__link__icon {
    align-items: center;
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 .5rem 0 0;
}

.nav__link__icon__svg {
    fill: var(--tech-gold);
    height: 1.25rem;
    width: 1.25rem;
    transition: .15s ease-in-out;
}

.nav__link__icon__svg:hover {
    fill: var(--tech-gold-hover);
}

@keyframes nav-link-fade-in {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--off-black);
    }
}

.nav__link__fade-in {
    animation: nav-link-fade-in .25s ease-in-out forwards;
}

@keyframes nav-link-fade-out {
    0% {
        color: var(--off-black);
    }
    100% {
        color: var(--white)
    }
}

.nav__link__fade-out {
    animation: nav-link-fade-out .25s ease-in-out forwards;
}

.nav__link__white {
    color: var(--off-black);
}

.nav__link:hover {
    text-decoration: none;
}

.nav__link::after {
    content: '';
    border-radius: .5px;
    display: block;
    width: 0;
    height: 1px;
    background: var(--white);
    transition: width .3s;
}

.nav__link__white::after {
    background: var(--off-black);
}

@keyframes nav-link-fade-in-after {
    0% {
        background: var(--white);
    }
    100% {
        background: var(--off-black);
    }
}

.nav__link__fade-in::after {
    animation: nav-link-fade-in-after .25s ease-in-out forwards;
}

@keyframes nav-link-fade-out-after {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--off-black)
    }
}

.nav__link__fade-out::after {
    animation: nav-link-fade-out-after .25s ease-in-out forwards;
}

.nav__link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav__link__dropdown {
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    text-decoration: none;
    transition: .3s;
}

.nav__link__dropdown:hover {
    color: var(--off-black-lighter);
    text-decoration: none;
}

.nav__link__button {
    background: var(--tech-gold);
    border: none;
    font-size: .875rem;
    border-radius: 0.375rem;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 0 .5rem;
    padding: 0.25rem 0.7rem 0.25rem 0.6rem;
    text-decoration: none;
    transition: .15s ease-in-out;
}

.nav__link__button:hover {
    background-color: var(--tech-gold-hover);
    color: var(--white);
    text-decoration: none;
}

.nav__dropdown {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px);
    border-radius: .5rem;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
    opacity: 0;
    padding: .5rem .75rem;
    position: fixed;
    transform: translateY(-10%);
    z-index: 998;
}

@keyframes nav-dropdown-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes nav-dropdown-fade-out {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

.nav__dropdown__fade-in {
    animation: nav-dropdown-fade-in .25s ease-in-out forwards;
}

.nav__dropdown__fade-out {
    animation: nav-dropdown-fade-out .25s ease-in-out forwards;
}
/*
Mobile Nav
================================================================================
*/
.nav__mobile__menu {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    opacity: 0;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    z-index: 996;
}

.nav__mobile__menu__close__button__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav__mobile__menu__close__button,
.nav__mobile__menu__close__button__icon {
    height: 24px;
    width: 24px;
}

.nav__mobile__menu__close__button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.nav__mobile__menu__close__button__icon {
    stroke: var(--off-black);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.nav__mobile__menu__header,
.nav__mobile__menu__link {
    display: block;
    line-height: 1rem;
}

.nav__mobile__menu__header {
    color: var(--tech-gold);
    font-family: 'din-2014', sans-serif;
    font-size: 1rem;
    margin: .875rem 0;
}

.nav__mobile__menu__link {
    color: var(--off-black);
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin: .5rem 0;
    text-decoration: none;
}

.nav__mobile__menu__link:hover {
    text-decoration: none;
}

@keyframes nav-mobile-menu-close {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100vw;
        opacity: 0;
    }
}

.nav__mobile__menu__close {
    animation: nav-mobile-menu-close .2s ease-in-out forwards;
}

@keyframes nav-mobile-menu-open {
    0% {
        left: 100vw;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.nav__mobile__menu__open {
    animation: nav-mobile-menu-open .2s ease-in-out forwards;
}

/*
Landing Background
================================================================================
*/

.landing__background__container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 980;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.landing__background {
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 980;
}

.landing__background__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 981;
}

.welcome__section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 983;
}

.welcome__container {
    color: var(--white);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    z-index: inherit;
    margin-left: 8rem;
    width: fit-content;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
    --s: 3rem; /* the size on the corner */
    --t: 3px;  /* the thickness of the border */
    --pad: calc(1.5rem + var(--t));
    padding: calc(1.1rem + var(--t)) var(--pad) calc(1.1rem + var(--t)) var(--pad);
    outline: var(--t) solid transparent;
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        calc(100% - var(--s)) calc(100% - var(--s))/calc(100%) calc(100%),
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100%) calc(100%),
        linear-gradient(#000 0 0) content-box;
}

@media screen and (max-width: 768px) {
    .welcome__container {
        color: var(--white);
        font-family: "din-2014",sans-serif;
        font-weight: 600;
        font-size: 1rem;
        z-index: inherit;
        margin-left: 2rem;
        width: calc(100vw - 4rem);
        padding: 1.1rem 1.5rem 1.5rem 1.5rem;
        --s: 3rem; /* the size on the corner */
        --t: 3px;  /* the thickness of the border */
        --pad: calc(1.5rem + var(--t));
        padding: calc(1.1rem + var(--t)) var(--pad) calc(1.1rem + var(--t)) var(--pad);
        outline: var(--t) solid transparent;
        outline-offset: calc(-1*var(--t));
        mask:
            conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
            calc(100% - var(--s)) calc(100% - var(--s))/calc(100%) calc(100%),
            conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
            0 0/calc(100%) calc(100%),
            linear-gradient(#000 0 0) content-box;
    }
}

@keyframes welcome-container-fade-in {
    0% {
        outline: var(--t) solid transparent;
    }
    100% {
        outline: var(--t) solid var(--white);
    }
}

.welcome__container__fade-in {
    animation: welcome-container-fade-in .25s ease-in-out forwards;
}

@keyframes welcome-button-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome__button__fade-in {
    animation: welcome-button-fade-in .25s ease-in-out forwards;
}

.welcome__button__container {
    line-height: 1.25rem;
    padding: 0 0 0 .25rem;
    margin-top: .2rem;
    opacity: 0;
}

.welcome__line {
    font-size: 0;
    line-height: 4rem;
}

@media screen and (max-width: 768px) {
    .welcome__line {
        line-height: 2rem;
    }
}

.welcome__char__trans,
.welcome__char__show {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .welcome__char__trans,
    .welcome__char__show {
        font-size: 1.75rem;
    }
}

.welcome__char__trans {
    opacity: 0;
}

.welcome__char__show {
    opacity: 1;
}

.welcome__button {
    border: none;
    font-size: .875rem;
    border-radius: 0.375rem;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: .875rem;
    padding: 0.3rem .7rem 0.3rem .6rem;
    text-decoration: none;
    transition: .15s ease-in-out;
    margin: 0 .75rem 0 0;
}

.welcome__button:hover {
    text-decoration: none;
}

.welcome__button__gold {
    background: var(--tech-gold);
    border: 2px solid var(--tech-gold);
}

.welcome__button__gold:hover {
    color: var(--white);
    border: 2px solid var(--tech-gold-hover);
    background: var(--tech-gold-hover);
}

.welcome__button__outline {
    background-color: transparent;
    border: 2px solid var(--white);
}

.welcome__button__outline:hover {
    color: var(--off-black);
    background-color: var(--white);
    border: 2px solid var(--white);
}

/*
Content
================================================================================
*/
.main__content {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 990;
}

/*
Cookies
================================================================================
*/

@keyframes cookies-banner-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.cookies__banner__fade-out {
    animation: cookies-banner-fade-out .2s ease-in-out forwards;
}

.cookies__banner__no-display {
    display: none !important;
    z-index: -1 !important;
}

.cookies__banner {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 4rem;
    justify-content: center;
    z-index: 995;
    bottom: 0;
    opacity: 1;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .cookies__banner {
        padding: 1rem 1rem;
    }
}

.cookies__link,
.cookies__link__gold {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.cookies__link {
    color: var(--white);
}

.cookies__link__gold {
    color: var(--tech-gold);
    text-decoration: none;
}

.cookies__link:hover {
    color: var(--white);
    text-decoration: underline;
}

.cookies__link__gold:hover {
    color: var(--tech-gold);
    text-decoration: underline;
}

.cookies__pad {
    margin: 0 0 0 .75rem;
}

/*
President Welcome
================================================================================
*/

.president__welcome__container {
    background: var(--white);
    display: flex;
    width: 100vw;
    padding: 8rem 8rem;
}

@media screen and (max-width: 768px) {
    .president__welcome__container {
        display: block;
        padding: 2rem 2rem;
    }
}

.president__welcome__image__container {
    width: 20rem;
    margin: 0 3rem 0 0;
}

.president__welcome__image {
    width: 20rem;
    height: auto;
}

@media screen and (max-width: 768px) {
    .president__welcome__image__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100vw - 4rem);
        margin: 0;
    }

    .president__welcome__image {
        width: 20rem;
        height: auto;
    }

    .president__welcome__image__name,
    .president__welcome__image__title {
        align-items: flex-start;
        justify-content: flex-start;
        width: 20rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .president__welcome__image {
        width: 20rem;
    }
}

@media screen and (max-width: 465px) {
    .president__welcome__image__name,
    .president__welcome__image__title,
    .president__welcome__image {
        width: calc(100vw - 4rem);
    }

    .president__welcome__image__container {
        width: calc(100vw - 4rem);
    }
}

.president__welcome__image__name {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

@media screen and (max-width: 425px) {
    .president__welcome__image__name {
        font-size: 1.5rem;
    }
}

.president__welcome__image__title {
    color: var(--off-black-lighter);
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.president__welcome__header {
    color: var(--tech-gold);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

@media screen and (max-width: 425px) {
    .president__welcome__header {
        font-size: 2rem;
        margin: 1rem 0 0 0;
    }
}

.president__welcome__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

/*
Welcome Links
================================================================================
*/

.welcome__links__container {
    display: flex;
}

.welcome__link__container {
    height: 35vh;
    width: 100vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome__link__container:hover {
    text-decoration: none;
}

.welcome__link__container__blue {
    background-color: var(--navy-blue);
}

.welcome__link__container__gold {
    background-color: var(--tech-gold);
}

.welcome__link {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
    display: block;
    overflow-x: visible !important;
    text-decoration: none;
}

.welcome__link__icon {
    fill: var(--white);
    height: 8rem;
    width: 8rem;
    margin: 0 0 2rem 0;
}

@media screen and (max-width: 768px) {
    .welcome__link__container {
        height: 25vh;
    }

    .welcome__link {
        font-size: 1.25rem;
    }

    .welcome__link__icon {
        fill: var(--white);
        height: 4rem;
        width: 4rem;
        margin: 0 0 2rem 0;
    }
}

.arrow-icon {
    height: 16px;
    width: 32px;
    overflow: visible !important;
}

.arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H4");
}

.arrow-icon path {
    transition: 0.25s ease;
}

.welcome__link:hover {
    color: var(--white);
    text-decoration: none;
}

.welcome__link__container:hover .arrow-icon path:nth-child(1) {
    d: path("M15 4H4V4");
}

.welcome__link__container:hover .arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H0");
    transform: translateX(4px);
}

.welcome__link__container:hover .arrow-icon path:nth-child(3) {
    transform: translateX(4px);
}

/*
Mission
================================================================================
*/

.mission__container {
    background: var(--white);
    width: 100vw;
    padding: 12rem 8rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .mission__container {
        padding: 4rem 2rem;
    }
}

.mission__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
    --s: 3rem; /* the size on the corner */
    --t: 3px;  /* the thickness of the border */
    --pad: calc(2rem + var(--t));
    padding: calc(0.6rem + var(--t)) var(--pad) calc(1.1rem + var(--t)) var(--pad);
    outline: var(--t) solid var(--off-black);
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        calc(100% - var(--s)) calc(100% - var(--s))/calc(100%) calc(100%),
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100%) calc(100%),
        linear-gradient(#000 0 0) content-box;
}

.mission__header {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.mission__text {
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}

/*
Recruitment
================================================================================
*/

.recruitment__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 100vw;
    padding: 0 8rem 4rem 8rem;
}

@media screen and (max-width: 768px) {
    .recruitment__container {
        padding: 0 2rem 4rem 2rem;
    }
}

.recruitment__header {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.recruitment__text {
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}

/*
Contact
================================================================================
*/

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 100vw;
    padding: 0 8rem 4rem 8rem;
}

@media screen and (max-width: 768px) {
    .contact__container {
        padding: 0 2rem 4rem 2rem;
    }
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
}

@media screen and (max-width: 768px) {
    .contact__wrapper {
        width: 100vw;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__row {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.contact__header {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 1rem 0;
}
  
.contact__group {
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-bottom: 1rem;
}
  
.contact__label {
    color: var(--navy-blue);
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 9px;
    padding: 0 5px;
    background: var(--white);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.contact__input, .did-floating-select {
    flex-grow: 1;
    font-size: 12px;
    display: flex;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: var(--white);
    color: var(--off-black);
    border: 1px solid var(--navy-blue);
    border-radius: 4px;
    box-sizing: border-box;
}

.contact__input:focus, .did-floating-select:focus {
    outline: none;
}

.contact__input:focus ~ .contact__label {
    top: -8px;
    font-size: 13px;
}
  
.contact__input:not(:placeholder-shown) ~ .contact__label {
    top: -8px;
    font-size: 13px;
}

.contact__textarea {
    height: 5rem;
    padding: .5rem 1.2rem 0 1.2rem;
    width: 40vw;
    min-height: 5rem;
}

.contact__button {
    background: var(--tech-gold);
    border: none;
    font-size: .875rem;
    border-radius: 0.375rem;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 0 .5rem;
    padding: 0.25rem 0.7rem 0.25rem 0.6rem;
    text-decoration: none;
    transition: .15s ease-in-out;
}

.contact__button:hover {
    background-color: var(--tech-gold-hover);
    color: var(--white);
    text-decoration: none;
}

/*
Page
================================================================================
*/

.page__content {
    background-color: rgb(245, 245, 245);
    padding: 10rem 16rem;
    width: 100vw;
    min-height: 100vh;
}

@media screen and (max-width: 1024px) {
    .page__content {
        padding: 8rem 4rem;
    }
}

@media screen and (max-width: 768px) {
    .page__content {
        padding: 6rem 2rem;
    }
}

.page__header {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.page__h2 {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.page__h3 {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.page__h4 {
    color: var(--tech-gold);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.page__h2__center {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.page__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

.page__text__center {
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}

.page__link {
    color: var(--off-black);
    transition: 0.125s ease-in-out;
    text-decoration: underline;
    font-weight: 600;
}

.page__list {
    list-style-type: none;
}

.page__link:hover {
    color: var(--tech-gold);
    text-decoration: underline;
}

/*
Chapters
================================================================================
*/

.chapter__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {
    .chapter__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 465px) {
    .chapter__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.chapter__image {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: contain;
    transition: 0.125s ease-in-out;
}

.chapter {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chapter__text {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
    text-align: center;
}

.chapter__link {
    text-decoration: none;
}

.chapter__link:hover {
    color: var(--off-black);
    text-decoration: none;
}

.chapter__link:hover .chapter__image {
    transform: scale(1.02);
}

.chapter__arrow-icon {
    height: 12px;
    width: 24px;
    overflow: visible !important;
}

.chapter__arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H4");
}

.chapter__arrow-icon path {
    transition: 0.25s ease;
}

.chapter__link:hover .chapter__arrow-icon path:nth-child(1) {
    d: path("M15 4H4V4");
}

.chapter__link:hover .chapter__arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H0");
    transform: translateX(4px);
}

.chapter__link:hover .chapter__arrow-icon path:nth-child(3) {
    transform: translateX(4px);
}

/*
Exec
================================================================================
*/

.exec__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
    .exec__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .exec__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.exec__image {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    object-fit: contain;
    transition: 0.125s ease-in-out;
}

.exec {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exec__name {
    font-family: "din-2014",sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.exec__position {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
}

.exec__text {
    font-family: "din-2014",sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

/*
Footer
================================================================================
*/

.footer {
    align-items: center;
    background-color: rgb(245, 245, 245);
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 100vw;
}

.footer__logo {
    margin: 0 .5rem 0 0;
    width: 10rem;
}

.footer__link {
    color: var(--tech-gold);
    font-family: "din-2014", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 .5rem 0 0;
    text-decoration: none;
    transition: .125s ease-in-out;
}

.footer__link:hover {
    color: var(--tech-gold-hover);
    text-decoration: none;
}