:root {
    --tech-gold: rgb(179,163,105);
    --tech-gold-hover: rgb(142, 129, 83);
    --navy-blue: rgb(0, 48, 87);
    --white: rgb(255, 255, 255);
    --off-black: #262626;
    --off-black-lighter: #777777;
}

html,
body {
    background-color: var(--white);
    margin: 0;
    overscroll-behavior-y: none;
}

@font-face {
    font-family: "din-2014";
    src:url("/static/fonts/din-2014.woff2") format("woff2"), url("/static/fonts/din-2014.woff") format("woff"), url("/static/fonts/din-2014.otf") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch:normal;
}
    
.tk-din-2014-narrow { font-family: "din-2014",sans-serif; }

/*
Tweaks
================================================================================
*/

.tw__gt-copyright {
    display: flex; 
    flex-direction: column; 
    align-items: left;
}

.tw__gt-logo-link {
    display: block; 
    margin: 0; 
    padding: 0;
}

.tw__gt-footer {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 990;
}

.tw__footer-link {
    display: flex;
    align-items: center;
}

.tw__footer-link > svg {
    height: 1rem;
    width: 1rem;
}

.tw__gt-phone,
.tw__gt-campus-map {
    fill: var(--off-black);
    margin-right: .5rem;
}

.tw__link {
    fill: var(--off-black);
    height: 1.5rem;
    width: 1.5rem;
}

.tw__link:hover {
    fill: white;
}

/*
Nav
================================================================================
*/
.nav {
    --x-padding: 8rem;
    align-items: center;
    display: flex;
    background: transparent;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
    height: 3.75rem;
    padding: 0 var(--x-padding);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 991;
}

.nav__white {
    background: var(--white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

@keyframes nav-fade-in {
    0% {
        background: transparent;
        box-shadow: none;
    }
    100% {
        background: var(--white);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
}

.nav__fade-in {
    animation: nav-fade-in .25s ease-in-out forwards;
}

@keyframes nav-fade-out {
    0% {
        background: var(--white);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    100% {
        background: transparent;
        box-shadow: none;
    }
}

.nav__fade-out {
    animation: nav-fade-out .25s ease-in-out forwards;
}

.nav__logo__container,
.nav__links__container {
    align-items: center;
    display: flex;
}

.nav__logo {
    height: 1.875rem;
}

.nav__link {
    background: transparent;
    border: 0;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    margin: 0 1rem 0 0;
    padding: 0;
    text-decoration: none;
}

@keyframes nav-link-fade-in {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--off-black);
    }
}

.nav__link__fade-in {
    animation: nav-link-fade-in .25s ease-in-out forwards;
}

@keyframes nav-link-fade-out {
    0% {
        color: var(--off-black);
    }
    100% {
        color: var(--white)
    }
}

.nav__link__fade-out {
    animation: nav-link-fade-out .25s ease-in-out forwards;
}

.nav__link__white {
    color: var(--off-black);
}

.nav__link:hover {
    text-decoration: none;
}

.nav__link::after {
    content: '';
    border-radius: .5px;
    display: block;
    width: 0;
    height: 1px;
    background: var(--white);
    transition: width .3s;
}

.nav__link__white::after {
    background: var(--off-black);
}

@keyframes nav-link-fade-in-after {
    0% {
        background: var(--white);
    }
    100% {
        background: var(--off-black);
    }
}

.nav__link__fade-in::after {
    animation: nav-link-fade-in-after .25s ease-in-out forwards;
}

@keyframes nav-link-fade-out-after {
    0% {
        color: var(--white);
    }
    100% {
        color: var(--off-black)
    }
}

.nav__link__fade-out::after {
    animation: nav-link-fade-out-after .25s ease-in-out forwards;
}

.nav__link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav__link__dropdown {
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    text-decoration: none;
    transition: .3s;
}

.nav__link__dropdown:hover {
    color: var(--off-black-lighter);
    text-decoration: none;
}

.nav__link__button {
    background: var(--tech-gold);
    border: none;
    font-size: .875rem;
    border-radius: 0.375rem;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0 0 0 .5rem;
    padding: 0.25rem 0.7rem 0.25rem 0.6rem;
    text-decoration: none;
    transition: .15s ease-in-out;
}

.nav__link__button:hover {
    background-color: var(--tech-gold-hover);
    color: var(--white);
    text-decoration: none;
}

.nav__dropdown {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px);
    border-radius: .5rem;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
    opacity: 0;
    padding: .5rem .75rem;
    position: fixed;
    transform: translateY(-10%);
    z-index: 998;
}

@keyframes nav-dropdown-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes nav-dropdown-fade-out {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

.nav__dropdown__fade-in {
    animation: nav-dropdown-fade-in .25s ease-in-out forwards;
}

.nav__dropdown__fade-out {
    animation: nav-dropdown-fade-out .25s ease-in-out forwards;
}

/*
Landing Background
================================================================================
*/

.landing__background__container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 980;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.landing__background {
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 980;
}

.landing__background__filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 981;
}

.welcome__section {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 983;
}

.welcome__container {
    color: var(--white);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    z-index: inherit;
    margin-left: 8rem;
    width: fit-content;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
    --s: 3rem; /* the size on the corner */
    --t: 3px;  /* the thickness of the border */
    --pad: calc(1.5rem + var(--t));
    padding: calc(1.1rem + var(--t)) var(--pad) calc(1.1rem + var(--t)) var(--pad);
    outline: var(--t) solid transparent;
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        calc(100% - var(--s)) calc(100% - var(--s))/calc(100%) calc(100%),
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100%) calc(100%),
        linear-gradient(#000 0 0) content-box;
}

@keyframes welcome-container-fade-in {
    0% {
        outline: var(--t) solid transparent;
    }
    100% {
        outline: var(--t) solid var(--white);
    }
}

.welcome__container__fade-in {
    animation: welcome-container-fade-in .25s ease-in-out forwards;
}

@keyframes welcome-button-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome__button__fade-in {
    animation: welcome-button-fade-in .25s ease-in-out forwards;
}

.welcome__button__container {
    line-height: 1.25rem;
    padding: 0 0 0 .25rem;
    margin-top: .2rem;
    opacity: 0;
}

.welcome__line {
    font-size: 0;
    line-height: 4rem;
}

.welcome__char__trans,
.welcome__char__show {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.welcome__char__trans {
    opacity: 0;
}

.welcome__char__show {
    opacity: 1;
}

.welcome__button {
    border: none;
    font-size: .875rem;
    border-radius: 0.375rem;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: .875rem;
    padding: 0.3rem .7rem 0.3rem .6rem;
    text-decoration: none;
    transition: .15s ease-in-out;
    margin: 0 .75rem 0 0;
}

.welcome__button:hover {
    text-decoration: none;
}

.welcome__button__gold {
    background: var(--tech-gold);
    border: 2px solid var(--tech-gold);
}

.welcome__button__gold:hover {
    color: var(--white);
    border: 2px solid var(--tech-gold-hover);
    background: var(--tech-gold-hover);
}

.welcome__button__outline {
    background-color: transparent;
    border: 2px solid var(--white);
}

.welcome__button__outline:hover {
    color: var(--off-black);
    background-color: var(--white);
    border: 2px solid var(--white);
}

/*
Content
================================================================================
*/
.main__content {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 990;
}

/*
Cookies
================================================================================
*/

@keyframes cookies-banner-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.cookies__banner__fade-out {
    animation: cookies-banner-fade-out .2s ease-in-out forwards;
}

.cookies__banner__no-display {
    display: none !important;
    z-index: -1 !important;
}

.cookies__banner {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    display: flex;
    width: 100vw;
    height: 4rem;
    justify-content: center;
    z-index: 995;
    bottom: 0;
    opacity: 1;
}

.cookies__link,
.cookies__link__gold {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.cookies__link {
    color: var(--white);
}

.cookies__link__gold {
    color: var(--tech-gold);
    text-decoration: none;
}

.cookies__link:hover {
    color: var(--white);
    text-decoration: underline;
}

.cookies__link__gold:hover {
    color: var(--tech-gold);
}

.cookies__pad {
    margin: 0 0 0 .75rem;
}

/*
President Welcome
================================================================================
*/

.president__welcome__container {
    background: var(--white);
    width: 100vw;
    padding: 4rem 16rem;
}

.president__welcome__image__container {
    float: right;
    width: 20vw;
    margin: 0 0 4rem 4rem;
}

.president__welcome__image {
    width: 100%;
    height: auto;
}

.president__welcome__image__name {
    color: var(--off-black);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.president__welcome__image__title {
    color: var(--off-black-lighter);
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.president__welcome__header {
    color: var(--tech-gold);
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.president__welcome__text {
    font-weight: 400;
    font-size: 1.125rem;
}

/*
Welcome Links
================================================================================
*/

.welcome__links__container {
    display: flex;
}

.welcome__link__container {
    height: 50vh;
    width: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome__link__container__blue {
    background-color: var(--navy-blue);
}

.welcome__link__container__gold {
    background-color: var(--tech-gold);
}

.welcome__link {
    font-family: "din-2014",sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
    display: block;
    overflow-x: visible !important;
}

.welcome__link__icon {
    fill: var(--white);
    height: 8rem;
    width: 8rem;
    margin: 0 0 2rem 0;
}

.arrow-icon {
    height: 16px;
    width: 32px;
    overflow: visible !important;
}

.arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H4");
}

.arrow-icon path {
    transition: 0.25s ease;
}

.welcome__link:hover {
    color: var(--white);
    text-decoration: none;
}

.welcome__link:hover .arrow-icon path:nth-child(1) {
    d: path("M15 4H4V4");
}

.welcome__link:hover .arrow-icon path:nth-child(2) {
    d: path("M14.5 4H3.5H0");
    transform: translateX(4px);
}

.welcome__link:hover .arrow-icon path:nth-child(3) {
    transform: translateX(4px);
}