{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">Chapters</h1>
            <p class="page__text">
                The Interfraternity Council (IFC) is the governing board for 30 national and international fraternities, 
                most of which are affiliated with the North American Interfraternity Conference. IFC fraternities 
                delivers on 3 clear promises: amplify your potential, expand your network exponentially, and upgrade 
                your Georgia Tech experience. IFC fraternities expand the college experience beyond the classroom and 
                create environments focused on improving the human condition. 
            </p>
            <div class="page__h2__center">Explore Our Chapters</div>
            <div class="chapter__container">
                <a class="chapter__link" href="https://www.instagram.com/gtaepi/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_epsilon_pi.png' %}" alt="Alpha Epsilon Pi">
                        <div class="chapter__text">
                            Alpha Epsilon Pi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtalphasig.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_sigma_phi.png' %}" alt="Alpha Sigma Phi">
                        <div class="chapter__text">
                            Alpha Sigma Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/atogt/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_tau_omega.png' %}" alt="Alpha Tau Omega">
                        <div class="chapter__text">
                            Alpha Tau Omega
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtbeta.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/beta_theta_pi.png' %}" alt="Beta Theta Pi">
                        <div class="chapter__text">
                            Beta Theta Pi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtchiphi/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/chi_phi.png' %}" alt="Chi Phi">
                        <div class="chapter__text">
                            Chi Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gtchipsi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/chi_psi.png' %}" alt="Chi Psi">
                        <div class="chapter__text">
                            Chi Psi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://www.gtdeltachi.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_chi.png' %}" alt="Delta Chi">
                        <div class="chapter__text">
                            Delta Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://godeltasig.com/index.html">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_sigma_phi.png' %}" alt="Delta Sigma Phi">
                        <div class="chapter__text">
                            Delta Sigma Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtdelts/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_tau_delta.png' %}" alt="Delta Tau Delta">
                        <div class="chapter__text">
                            Delta Tau Delta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtdu.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_upsilon.png' %}" alt="Delta Upsilon">
                        <div class="chapter__text">
                            Delta Upsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/ka_georgiatech/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/kappa_alpha.png' %}" alt="Kappa Alpha">
                        <div class="chapter__text">
                            Kappa Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/kappasigmagt/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/kappa_sigma.png' %}" alt="Kappa Sigma">
                        <div class="chapter__text">
                            Kappa Sigma
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://gtlambdachi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/lambda_chi_alpha.png' %}" alt="Lambda Chi Alpha">
                        <div class="chapter__text">
                            Lambda Chi Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gatech.phideltatheta.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_delta_theta.png' %}" alt="Phi Delta Theta">
                        <div class="chapter__text">
                            Phi Delta Theta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtfiji.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="Phi Gamma Delta">
                        <div class="chapter__text">
                            Phi Gamma Delta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtphipsi.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_psi.png' %}" alt="Phi Kappa Psi">
                        <div class="chapter__text">
                            Phi Kappa Psi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtskulls.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_sigma.png' %}" alt="Phi Kappa Sigma">
                        <div class="chapter__text">
                            Phi Kappa Sigma
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtpkt.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_theta.png' %}" alt="Phi Kappa Theta">
                        <div class="chapter__text">
                            Phi Kappa Theta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://www.gtpsk.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_sigma_kappa.png' %}" alt="Phi Sigma Kappa">
                        <div class="chapter__text">
                            Phi Sigma Kappa
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtpikes/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/pi_kappa_alpha.png' %}" alt="Pi Kappa Alpha">
                        <div class="chapter__text">
                            Pi Kappa Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://pikapp.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/pi_kappa_phi.png' %}" alt="Pi Kappa Phi">
                        <div class="chapter__text">
                            Pi Kappa Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtphitau/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_tau.png' %}" alt="Phi Kappa Tau">
                        <div class="chapter__text">
                            Phi Kappa Tau
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtpsiu/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/psi_upsilon.png' %}" alt="Psi Upsilon">
                        <div class="chapter__text">
                            Psi Upsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gt.sae/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_alpha_epsilon.png' %}" alt="Sigma Alpha Epsilon">
                        <div class="chapter__text">
                            Sigma Alpha Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtsigmachi/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_chi.png' %}" alt="Sigma Chi">
                        <div class="chapter__text">
                            Sigma Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gatechsigmanu.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_nu.png' %}" alt="Sigma Nu">
                        <div class="chapter__text">
                            Sigma Nu
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://georgiatech.sigep.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_phi_epsilon.png' %}" alt="Sigma Phi Epsilon">
                        <div class="chapter__text">
                            Sigma Phi Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://tkegatech.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/tau_kappa_epsilon.png' %}" alt="Tau Kappa Epsilon">
                        <div class="chapter__text">
                            Tau Kappa Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gtthetachi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/theta_chi.png' %}" alt="Theta Chi">
                        <div class="chapter__text">
                            Theta Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gttx.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/theta_xi.png' %}" alt="Theta Xi">
                        <div class="chapter__text">
                            Theta Xi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.techzbt.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/zeta_beta_tau.png' %}" alt="Zeta Beta Tau">
                        <div class="chapter__text">
                            Zeta Beta Tau
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% include 'partials/footer.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>
 

Rush  

What is Rush?  

Rush is your chance to explore the incredibly diverse world of fraternities on campus! Think of it as a week-long introduction to the unique brotherhoods that make up our Greek community. It's a time to meet new people, attend fun events, and discover which chapter feels like home.  

Whether you're looking for lifelong friends, leadership opportunities, or just a place where you can truly be yourself, rush is your opportunity to find the fraternity that matches your vibe. So, suit up (or not—casual works too!), show up, and get ready to make memories that last a lifetime. Welcome to the start of something big!  

Rush Schedule   

Fall 2025 Rush Schedule TBD, but expect for it to be during the first few weeks of school 

Tips for a Successful Recruitment  

Be Yourself  

Rush  is all about finding a fraternity that fits your personality and values. Be genuine when meeting members—they want to get to know the real you, not a version you think they want.  

Ask Questions  

Don't hesitate to ask about chapter values, activities, academics, and what makes their brotherhood unique. This shows you're genuinely interested and helps you make an informed decision.  

Stay Open-Minded  

You might have preconceived ideas about certain fraternities, but every chapter is different. Keep an open mind—you could find your perfect fit in an unexpected place.  

Dress Appropriately  

While most events are casual, others may call for business casual or formal attire. Pay attention to dress codes and aim to make a good impression without overthinking it. We recommend a collared shirt as a good sweet spot for rushing around. 

Manage Your Time  

Rush can be a busy process, so stay organized and prioritize going to the fraternities you feel the best connections with. This ensures you make the most of your experience without feeling overwhelmed.  

Talk to Current Members  

Engaging in conversations with active members is one of the best ways to get a feel for a fraternity. Ask about their experiences, why they joined, and what keeps them involved.  

Consider Your Priorities  

Think about what's most important to you—friendships, academics, philanthropy, or leadership opportunities. Choose a fraternity that aligns with your goals and values.  

Don't Stress Over Bids  

Remember, the recruitment process is mutual. Focus on finding a chapter where you feel comfortable and confident. If it's meant to be, it'll happen!   

Financial Expectations  

Joining a fraternity comes with financial responsibilities, but costs vary across chapters. We encourage open conversations with chapter members to better understand their specific financial expectations, especially if you have concerns about affordability. However, joining a fraternity with housing and meal plan can be several thousand dollar less expensive than on- or off-campus housing in the long run. 

A membership fee of $20 will appear on student Bursar accounts at the beginning of the Fall and Spring semesters after the semester of your initiation. The Fraternity/Sorority Membership Fee is a Georgia Tech fee in addition to any chapter dues students will be assessed through their own organization.  

You Got a Bid! What next?  

IFC leaders will be available throughout the entire process for coaching and general guidance. If a student receives a bid and wishes to continue to visit other chapters, it is OK to inform the chapter issuing the bid that he wants to visit other chapters before making a final decision. Once accepting a bid, the student will need to complete the Georgia Tech New Member Form within 24 hours. If a student accepts a bid but still has other invitations from other chapters, the student must notify the other chapters that he will not be attending.  

To accept a bid, you usually just tell the chapter you would like to accept. It's that easy! There are no financial requirements for registration/recruitment and no obligation to accept an invitation to membership of a chapter.  

Rules and Reporting  

For policies around recruitment, please see our Bylaws. If you have any questions or believe there are any rush violations, please contact the Executive Board.  

FAQS  

Why should I join a fraternity?  

Joining a fraternity offers opportunities for leadership, lifelong friendships, community involvement, and personal growth. It's a chance to be part of a brotherhood that supports you academically, socially, and professionally.  

Do I need to sign up for rush beforehand?  

Yes, you need to sign up for rush in advance to receive event details and important updates about the recruitment process.  

How do I know which fraternities to visit during rush?  

During rush, fraternities are open house. You should attend one of the IFC tabling sessions to get a feel for where you might want to go. This will help you decide which chapters align best with your values and interests.   

Do I have to accept a bid if I am offered one?  

No, receiving a bid is an invitation to join a fraternity, but you are not required to accept it. Take your time to evaluate if the fraternity is the right fit for you. 

For Parents 

Understanding IFC 

Understanding IFC recruitment can provide valuable relief and address common concerns regarding your child's membership in a fraternity chapter. The transition to college is a pivotal moment in your child's journey toward independence, and as a parent, navigating this period can be both very exciting and very challenging. 

What is Recruitment? 

Joining a fraternity is an opportunity for your son to connect with a national network of like-minded individuals who share common values and goals. This network fosters personal growth, leadership development, and lifelong relationships. At the chapter level, fraternity membership equips undergraduate students to excel academically, build meaningful friendships, and develop the skills and character needed to succeed as students, brothers, and future leaders. Through shared traditions, mentorship, and community involvement, IFC fraternities provide a supportive environment that helps young men navigate the challenges of college while preparing them for life beyond graduation. Membership extends far beyond the college years, offering alumni connections, career opportunities, and a continued sense of belonging. 

Here's some standards and expectations during recruitment to help put you at ease: 

Fraternity recruitment and membership at Georgia Tech requires maintaining a minimum GPA. 

Recruitment events are banned from having any alcohol. 

Recruitment events and membership are zero-tolerance for dangerous or risky behavior. 

Above all else, recruiting events are based on shared values. Membership in a fraternity is built on these values. 

How Does Recruitment Work? 

In order to register for recruitment, your son must maintain a certain GPA and be in good standing as a student. If he meets these basic requirements, he will be able to seek a bid from a chapter. 

Here's some steps to help get him started: 

  

Register for recruitment. 

Agree to IFC recruitment rules. 

Attend required recruitment seminars or meetings. 

Attend recruitment events and follow all the rules. 

Based on your son's interactions with different chapters, he can decide which chapter he believes will be the best fit. 

Chapters and members will make recruitment decisions, after which they can extend a bid for your son to join. 

If your son receives a bid, he can choose whether or not to accept it and communicate his decision to the chapter. 

  

The Value of Membership 

Joining an IFC fraternity offers more than a sense of belonging, allowing your son to connect with a national network of individuals united by shared values and goals. This network supports personal growth, leadership development, and lifelong relationships, helping members excel academically, socially, and professionally. 

At the chapter level, fraternities provide a foundation for young men to succeed as students and future leaders. Through mentorship, community involvement, and strong bonds of brotherhood, IFC organizations prepare members for life beyond college while fostering connections that last a lifetime. 