{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">Chapter Philanthropy</h1>
            <p class="page__text">
                The Interfraternity Council (IFC) at Georgia Tech is dedicated to giving back. Each chapter supports 
                unique philanthropic causes through fundraising, service projects, and community outreach. Our members 
                are committed to making a real impact on and off campus. Explore each chapter's philanthropy and see how 
                they are making a difference.
            </p>
            <div class="page__h2__center">Explore Philanthropy</div>
            <div class="chapter__container">
                <a class="chapter__link" href="https://www.instagram.com/gtaepi/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_epsilon_pi.png' %}" alt="Alpha Epsilon Pi">
                        <div class="chapter__text">
                            Alpha Epsilon Pi
                        </div>
                        <div class="chapter__org">
                            Children's Healthcare of Atlanta
                        </div>
                        <div class="chapter__org">
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtalphasig.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_sigma_phi.png' %}" alt="Alpha Sigma Phi">
                        <div class="chapter__text">
                            Alpha Sigma Phi
                        </div>
                        <div class="chapter__org">
                            Rape, Abuse & Incest National Network
                        </div>
                        <div class="chapter__org">
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/atogt/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/alpha_tau_omega.png' %}" alt="Alpha Tau Omega">
                        <div class="chapter__text">
                            Alpha Tau Omega
                        </div>
                        <div class="chapter__org">
                            Make a Wish
                        </div>
                        <div class="chapter__org">
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtbeta.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/beta_theta_pi.png' %}" alt="Beta Theta Pi">
                        <div class="chapter__text">
                            Beta Theta Pi
                        </div>
                        <div class="chapter__org">
                            Funding Bright Futures
                        </div>
                        <div class="chapter__org">
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtchiphi/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/chi_phi.png' %}" alt="Chi Phi">
                        <div class="chapter__text">
                            Chi Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gtchipsi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/chi_psi.png' %}" alt="Chi Psi">
                        <div class="chapter__text">
                            Chi Psi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://www.gtdeltachi.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_chi.png' %}" alt="Delta Chi">
                        <div class="chapter__text">
                            Delta Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://godeltasig.com/index.html">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_sigma_phi.png' %}" alt="Delta Sigma Phi">
                        <div class="chapter__text">
                            Delta Sigma Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtdelts/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_tau_delta.png' %}" alt="Delta Tau Delta">
                        <div class="chapter__text">
                            Delta Tau Delta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtdu.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/delta_upsilon.png' %}" alt="Delta Upsilon">
                        <div class="chapter__text">
                            Delta Upsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/ka_georgiatech/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/kappa_alpha.png' %}" alt="Kappa Alpha">
                        <div class="chapter__text">
                            Kappa Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/kappasigmagt/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/kappa_sigma.png' %}" alt="Kappa Sigma">
                        <div class="chapter__text">
                            Kappa Sigma
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://gtlambdachi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/lambda_chi_alpha.png' %}" alt="Lambda Chi Alpha">
                        <div class="chapter__text">
                            Lambda Chi Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gatech.phideltatheta.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_delta_theta.png' %}" alt="Phi Delta Theta">
                        <div class="chapter__text">
                            Phi Delta Theta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtfiji.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="Phi Gamma Delta">
                        <div class="chapter__text">
                            Phi Gamma Delta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtphipsi.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_psi.png' %}" alt="Phi Kappa Psi">
                        <div class="chapter__text">
                            Phi Kappa Psi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtskulls.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_sigma.png' %}" alt="Phi Kappa Sigma">
                        <div class="chapter__text">
                            Phi Kappa Sigma
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gtpkt.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_theta.png' %}" alt="Phi Kappa Theta">
                        <div class="chapter__text">
                            Phi Kappa Theta
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="http://www.gtpsk.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_sigma_kappa.png' %}" alt="Phi Sigma Kappa">
                        <div class="chapter__text">
                            Phi Sigma Kappa
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtpikes/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/pi_kappa_alpha.png' %}" alt="Pi Kappa Alpha">
                        <div class="chapter__text">
                            Pi Kappa Alpha
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://pikapp.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/pi_kappa_phi.png' %}" alt="Pi Kappa Phi">
                        <div class="chapter__text">
                            Pi Kappa Phi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtphitau/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/phi_kappa_tau.png' %}" alt="Phi Kappa Tau">
                        <div class="chapter__text">
                            Phi Kappa Tau
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtpsiu/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/psi_upsilon.png' %}" alt="Psi Upsilon">
                        <div class="chapter__text">
                            Psi Upsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gt.sae/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_alpha_epsilon.png' %}" alt="Sigma Alpha Epsilon">
                        <div class="chapter__text">
                            Sigma Alpha Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.instagram.com/gtsigmachi/?hl=en">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_chi.png' %}" alt="Sigma Chi">
                        <div class="chapter__text">
                            Sigma Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gatechsigmanu.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_nu.png' %}" alt="Sigma Nu">
                        <div class="chapter__text">
                            Sigma Nu
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://georgiatech.sigep.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/sigma_phi_epsilon.png' %}" alt="Sigma Phi Epsilon">
                        <div class="chapter__text">
                            Sigma Phi Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://tkegatech.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/tau_kappa_epsilon.png' %}" alt="Tau Kappa Epsilon">
                        <div class="chapter__text">
                            Tau Kappa Epsilon
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://gtthetachi.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/theta_chi.png' %}" alt="Theta Chi">
                        <div class="chapter__text">
                            Theta Chi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.gttx.org/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/theta_xi.png' %}" alt="Theta Xi">
                        <div class="chapter__text">
                            Theta Xi
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
                <a class="chapter__link" href="https://www.techzbt.com/">
                    <div class="chapter">
                        <img class="chapter__image" src="{% static 'img/crests/zeta_beta_tau.png' %}" alt="Zeta Beta Tau">
                        <div class="chapter__text">
                            Zeta Beta Tau
                            {% include "svg/chapter-arrow.html" %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% include 'partials/footer.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>