{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">Cookies Policy</h1>
            <p class="page__text">
                We are committed to providing an accessible online experience 
                for all visitors, including those with disabilities. To ensure 
                we offer an inclusive and functional website, we may use cookies 
                and similar tracking technologies.
            </p>
            <h2 class="page__h2">What Are Cookies?</h2>
            <p class="page__text">
                Cookies are small text files that are stored on your device when 
                you visit a website. They help improve your browsing experience 
                by remembering your preferences and settings, enabling certain 
                features, and providing insights on how you use the website.
            </p>
            <h2 class="page__h2">How We Use Cookies for Accessibility</h2>
            <p class="page__text">
                We use cookies and similar technologies to enhance the 
                accessibility of our website. Cookies can store your 
                accessibility settings, such as text size or contrast 
                preferences, allowing us to remeber your preferences across
                sessions. We may use cookies to store session information, so 
                you don't have to repeatedly input your preferences.
            </p>
            <h2 class="page__h2">Managing and Controlling Cookies</h2>
            <p class="page__text">
                You have the ability to control cookies through your web 
                browser. Depending on your browser, you can enable or disable
                cookies, clear cookies or delete them after each session, and
                set your preferences for accessibility-related cookies.
            </p>
            <p class="page__text"><a class="page__link" href="https://support.google.com/chrome/answer/95647?hl=en&co=GENIE.Platform%3DDesktop">Managing Cookies in Chrome</a></p>
            <p class="page__text"><a class="page__link" href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox">Managing Cookies in Firefox</a></p>
            <p class="page__text"><a class="page__link" href="https://support.apple.com/en-is/guide/safari/sfri11471/16.0/mac/11.0">Managing Cookies in Safari</a></p>
            <h2 class="page__h2">Your Rights and Options</h2>
            <p class="page__text">
                We respect your right to control the cookies you allow on your 
                device. If you prefer not to have cookies used for accessibility 
                features, you can adjust your browser settings. However, please 
                note that blocking cookies may affect the functionality of 
                certain accessibility features on our website.
            </p>
        </div>
        {% include 'partials/footer.html' %}
        {% include 'partials/cookies.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/cookies.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
    </body>
</html>