{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">Executive Board</h1>
            <p class="page__text">
                The Interfraternity Council (IFC) at Georgia Tech is the 
                organization that oversees the fraternities on campus. The IFC 
                is dedicated to supporting its member fraternities by promoting 
                leadership, teamwork, and personal growth. Through community 
                service, leadership opportunities, and social activities, the 
                IFC helps create a positive and inclusive experience for all 
                fraternity members. They also manage the recruitment process and 
                make sure that the fraternities uphold high standards of conduct 
                and reflect Georgia Tech's values.
            </p>
            <div class="exec__container">
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Noah_Pastula.jpg' %}" alt="President">
                    <div class="exec__name">Noah Pastula</div>
                    <div class="exec__position">President</div>
                    <div class="exec__text">Class of 2027</div>
                    <div class="exec__text">Pi Kappa Alpha</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:president@ifc.greek.gatech.edu">president@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Curt_Rogers.jpeg' %}" alt="President">
                    <div class="exec__name">Curt Rogers</div>
                    <div class="exec__position">Administrative Vice President</div>
                    <div class="exec__text">Class of 2028</div>
                    <div class="exec__text">Beta Theta Pi</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:adminvp@ifc.greek.gatech.edu">adminvp@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/brady_mccaw.png' %}" alt="President">
                    <div class="exec__name">Brady McCaw</div>
                    <div class="exec__position">Vice President of Recruitment</div>
                    <div class="exec__text">Class of 2027</div>
                    <div class="exec__text">Delta Chi</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:recruitmentvp@ifc.greek.gatech.edu">recruitmentvp@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Elil_Mohankumar.jpg' %}" alt="President">
                    <div class="exec__name">Elil Mohankumar</div>
                    <div class="exec__position">Vice President of Programming</div>
                    <div class="exec__text">Class of 2027</div>
                    <div class="exec__text">Theta Chi</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:programmingvp@ifc.greek.gatech.edu">programmingvp@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Seth_Adams.png' %}" alt="President">
                    <div class="exec__name">Seth Adams</div>
                    <div class="exec__position">Vice President of Philanthropy</div>
                    <div class="exec__text">Class of 2027</div>
                    <div class="exec__text">Kappa Alpha Order</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:ifcphilanthropy@ifc.greek.gatech.edu">ifcphilanthropy@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Gaines_Gunn.png' %}" alt="President">
                    <div class="exec__name">Gaines Gunn</div>
                    <div class="exec__position">Vice President of Finance</div>
                    <div class="exec__text">Class of 2028</div>
                    <div class="exec__text">Sigma Alpha Epsilon</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:financevp@ifc.greek.gatech.edu">financevp@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Anthony_Venuti.png' %}" alt="President">
                    <div class="exec__name">Anthony Venuti</div>
                    <div class="exec__position">Vice President of Communications</div>
                    <div class="exec__text">Class of 2028</div>
                    <div class="exec__text">Pi Kappa Alpha</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:communicationsvp@ifc.greek.gatech.edu">communicationsvp@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/exec/Samuel_Bueno.png' %}" alt="President">
                    <div class="exec__name">Sam Bueno</div>
                    <div class="exec__position">Rush Chairman</div>
                    <div class="exec__text">Class of 2028</div>
                    <div class="exec__text">Sigma Nu</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:rush@ifc.greek.gatech.edu">rush@ifc.greek.gatech.edu</a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>