{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">Executive Board</h1>
            <div class="exec__container">
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="President">
                    <div class="exec__name">Spongebob</div>
                    <div class="exec__position">President</div>
                    <div class="exec__text">Class of 2025</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:president@ifc.greek.gatech.edu">president@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="President">
                    <div class="exec__name">Spongebob</div>
                    <div class="exec__position">President</div>
                    <div class="exec__text">Class of 2025</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:president@ifc.greek.gatech.edu">president@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="President">
                    <div class="exec__name">Spongebob</div>
                    <div class="exec__position">President</div>
                    <div class="exec__text">Class of 2025</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:president@ifc.greek.gatech.edu">president@ifc.greek.gatech.edu</a>
                    </div>
                </div>
                <div class="exec">
                    <img class="exec__image" src="{% static 'img/crests/phi_gamma_delta.png' %}" alt="President">
                    <div class="exec__name">Spongebob</div>
                    <div class="exec__position">President</div>
                    <div class="exec__text">Class of 2025</div>
                    <div class="exec__text">
                        <a class="page__link" href="mailto:president@ifc.greek.gatech.edu">president@ifc.greek.gatech.edu</a>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/cookies.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>