{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <body>
        {% include 'partials/nav.html' %}
        <div class="page__content">
            <h1 class="page__header">For Parents</h1>
            <h3 class="page__h3">Understanding IFC</h3>
            <p class="page__text">
                Understanding IFC recruitment can provide valuable relief and 
                address common concerns regarding your child's membership in a 
                fraternity chapter. The transition to college is a pivotal 
                moment in your child's journey toward independence, and as a 
                parent, navigating this period can be both very exciting and 
                very challenging.
            </p>
            <h3 class="page__h3">What is Recruitment?</h3>
            <p class="page__text">
                Joining a fraternity is an opportunity for your son to connect 
                with a national network of like-minded individuals who share 
                common values and goals. This network fosters personal growth, 
                leadership development, and lifelong relationships. At the 
                chapter level, fraternity membership equips undergraduate 
                students to excel academically, build meaningful friendships, 
                and develop the skills and character needed to succeed as 
                students, brothers, and future leaders. Through shared 
                traditions, mentorship, and community involvement, IFC 
                fraternities provide a supportive environment that helps young 
                men navigate the challenges of college while preparing them for 
                life beyond graduation. Membership extends far beyond the 
                college years, offering alumni connections, career 
                opportunities, and a continued sense of belonging.
            </p>
            <p class="page__text">
                Here's some standards and expectations during recruitment to
                help put you at ease:
            </p>
            <ul>
                <li class="list__item">
                    <p class="page__text">
                        Fraternity recruitment and membership at Georgia Tech
                        requires maintaining a minimum GPA.
                    </p>
                </li>
                <li class="list__item">
                    <p class="page__text">
                        Recruitment events are banned from having any alcohol.
                    </p>
                </li>
                <li class="list__item">
                    <p class="page__text">
                        Recruitment events and membership are zero-tolerance for
                        dangerous or risky behavior.
                    </p>
                </li>
                <li class="list__item">
                    <p class="page__text">
                        Above all else, recruiting events are based on shared
                        values. Membership in a fraternity is built on these
                        values.
                    </p>
                </li>
            </ul>
            <h3 class="page__h3">How Does Recruitment Work?</h3>
            <p class="page__text">
                In order to register for recruitment, your son must maintain a 
                certain GPA and be in good standing as a student. If he meets 
                these basic requirements, he will be able to seek a bid from a 
                chapter.
            </p>
            <p class="page__text">
                Here's some steps to help get him started:
            </p>
            <ul>
                <li class="page__item">
                    <p class="page__text">
                        Register for recruitment.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        Agree to IFC recruitment rules.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        Attend required recruitment seminars or meetings.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        Attend recruitment events and follow all the rules.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        Based on your son's interactions with different 
                        chapters, he can decide which chapter he believes will
                        be the best fit.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        Chapters and members will make recruitment decisions,
                        after which they can extend a bid for your son to join.
                    </p>
                </li>
                <li class="page__item">
                    <p class="page__text">
                        If your son receives a bid, he can choose whether or not
                        to accept it and communicate his decision to the 
                        chapter.
                    </p>
                </li>
            </ul>
            <h3 class="page__h3">The Value of Membership</h3>
            <p class="page__text">
                Joining an IFC fraternity offers more than a sense of 
                belonging, allowing your son to connect with a national network 
                of individuals united by shared values and goals. This network 
                supports personal growth, leadership development, and lifelong 
                relationships, helping members excel academically, socially, and 
                professionally.
            </p>
            <p class="page__text">
                At the chapter level, fraternities provide a foundation for 
                young men to succeed as students and future leaders. Through 
                mentorship, community involvement, and strong bonds of 
                brotherhood, IFC organizations prepare members for life beyond 
                college while fostering connections that last a lifetime.
            </p>
        </div>
        {% include 'partials/footer.html' %}
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>
For Parents 

Understanding IFC 

Understanding IFC recruitment can provide valuable relief and address common concerns regarding your child's membership in a fraternity chapter. The transition to college is a pivotal moment in your child's journey toward independence, and as a parent, navigating this period can be both very exciting and very challenging. 

What is Recruitment? 

Joining a fraternity is an opportunity for your son to connect with a national network of like-minded individuals who share common values and goals. This network fosters personal growth, leadership development, and lifelong relationships. At the chapter level, fraternity membership equips undergraduate students to excel academically, build meaningful friendships, and develop the skills and character needed to succeed as students, brothers, and future leaders. Through shared traditions, mentorship, and community involvement, IFC fraternities provide a supportive environment that helps young men navigate the challenges of college while preparing them for life beyond graduation. Membership extends far beyond the college years, offering alumni connections, career opportunities, and a continued sense of belonging. 

Here's some standards and expectations during recruitment to help put you at ease: 

Fraternity recruitment and membership at Georgia Tech requires maintaining a minimum GPA. 

Recruitment events are banned from having any alcohol. 

Recruitment events and membership are zero-tolerance for dangerous or risky behavior. 

Above all else, recruiting events are based on shared values. Membership in a fraternity is built on these values. 

How Does Recruitment Work? 

In order to register for recruitment, your son must maintain a certain GPA and be in good standing as a student. If he meets these basic requirements, he will be able to seek a bid from a chapter. 

Here's some steps to help get him started: 

  

Register for recruitment. 

Agree to IFC recruitment rules. 

Attend required recruitment seminars or meetings. 

Attend recruitment events and follow all the rules. 

Based on your son's interactions with different chapters, he can decide which chapter he believes will be the best fit. 

Chapters and members will make recruitment decisions, after which they can extend a bid for your son to join. 

If your son receives a bid, he can choose whether or not to accept it and communicate his decision to the chapter. 

  

The Value of Membership 

Joining an IFC fraternity offers more than a sense of belonging, allowing your son to connect with a national network of individuals united by shared values and goals. This network supports personal growth, leadership development, and lifelong relationships, helping members excel academically, socially, and professionally. 

At the chapter level, fraternities provide a foundation for young men to succeed as students and future leaders. Through mentorship, community involvement, and strong bonds of brotherhood, IFC organizations prepare members for life beyond college while fostering connections that last a lifetime. 