{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
    <link rel="preload" as="image" href="{% static 'img/chapters/alpha_epsilon_pi.webp' %}" media="(min-width: 465px)">
    <link rel="preload" as="image" href="{% static 'img/chapters/mobile/alpha_epsilon_pi.webp' %}" media="(max-width: 464px)">
    <body>
        {% include 'partials/nav-index.html' %}
        {% include 'partials/welcome.html' %}
        <div class="main__content">
            {% include 'partials/president_welcome.html' %}
            {% include 'partials/welcome_links.html' %}
            {% include 'partials/mission.html' %}
            {% include 'partials/recruitment.html' %}
            {% include 'partials/contact.html' %}
            {% include 'partials/footer.html' %}
        </div>
        <script src="{% static 'js/cheers.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/landingBackground.js' %}"></script>
        <script src="{% static 'js/nav.js' %}"></script>
        <script src="{% static 'js/nav_links.js' %}"></script>
        <script src="{% static 'js/nav_index.js' %}"></script>
        <script src="{% static 'js/nav_mobile.js' %}"></script>
    </body>
</html>