{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A brief description of the page.">
        <meta name="keywords" content="relevant, keywords, here">

        <title>Georgia Tech IFC</title>

        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- Open Graph meta tags for social media sharing -->
        <meta property="og:title" content="Your Page Title">
        <meta property="og:description" content="A brief description for social media.">
        <meta property="og:image" content="image.jpg">
        <meta property="og:url" content="https://www.yourwebsite.com">

        <!-- Twitter card meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Your Page Title">
        <meta name="twitter:description" content="A brief description for Twitter.">
        <meta name="twitter:image" content="image.jpg">
    </head>
    <body>
        this index
    </body>
</html>