<div class="cookies__banner cookies__banner__no-display">
    <div>
        This site uses cookies for accessibility. You're welcome to opt out if 
        you like. Read more in our 
        <a class="cookies__link__gold" href="/cookies-policy">
            Cookies Policy
        </a>
        .
        <button class="cookies__link cookies__pad cookies__accept" href="/cookies-policy">
            Accept All
        </button>
        <button class="cookies__link cookies__pad cookies__reject" href="/cookies-policy">
            Reject All
        </button>
    </div>
</div>