<div class="mission__container">
    <div class="mission__wrapper">
        <h1 class="mission__header">Our Mission</h1>
        <p class="mission__text">
            The Interfraternity Council at Georgia Tech is dedicated to delivering on three key promises: amplifying your potential, expanding your network exponentially, and enhancing your overall Georgia Tech experience. We advocate for a safe, innovative, and inclusive fraternity environment that extends learning beyond the classroom and provides opportunities for meaningful community service, professional development, and personal growth.    </div>
</div>