<div class="mission__container">
    <div class="mission__wrapper">
        <h1 class="mission__header">Our Mission</h1>
        <p class="mission__text">
            You want more. Not more “stuff,” but more impact, more happiness, more fulfillment. More. Not out of greed or selfishness, but because you know more is waiting out there for you. You are a Georgia Tech student because you want more out of life, you envision more for the world, and you chose to demand more of yourself than is required. Fraternities and sororities at Tech are all about “more.” We get more out of our college experience. We give more of our time, our passion, and our efforts to our school and community. And we live more joyful, balanced, and generous lives. Our brothers and sisters expect more from us, and we are supported more because of our membership.
        </p>
    </div>
</div>