{% load static %}
<nav class="nav">
    <div class="nav__logo__container">
        <img class="nav__logo" src="{% static 'img/gtifc_horizontal_gold.png' %}" />
    </div>
    <div class="nav__links__container">
        <button class="nav__link nav__link__about-us" data-menu="about-us" href="/">
            ABOUT US
        </button>
        <button class="nav__link nav__link__rush" data-menu="rush" href="/">
            RUSH
        </button>
        <button class="nav__link nav__link__chapters" data-menu="chapters" href="/">
            FOR CHAPTERS
        </button>
        <button class="nav__link nav__link__resources" data-menu="resources" href="/">
            RESOURCES
        </button>
        <a class="nav__link__button" href="/">
            CONTACT
        </a>
    </div>
</nav>
<div class="nav__dropdown nav__dropdown__about-us">
    <a class="nav__link__dropdown" href="/chapters">OUR CHAPTERS</a>
    <a class="nav__link__dropdown" href="/">PURPOSE</a>
    <a class="nav__link__dropdown" href="/">EXECUTIVE BOARD</a>
    <a class="nav__link__dropdown" href="/">HISTORY</a>
</div>
<div class="nav__dropdown nav__dropdown__rush">
    <a class="nav__link__dropdown" href="/">HOW RUSH WORKS</a>
    <a class="nav__link__dropdown" href="/">WHY JOIN?</a>
    <a class="nav__link__dropdown" href="/">RUSH VIDEOS</a>
    <a class="nav__link__dropdown" href="/">RULES AND REPORTING</a>
    <a class="nav__link__dropdown" href="/">FAQS</a>
</div>
<div class="nav__dropdown nav__dropdown__chapters">
    <a class="nav__link__dropdown" href="/">ANNUAL AWARDS</a>
    <a class="nav__link__dropdown" href="/">BYLAWS</a>
    <a class="nav__link__dropdown" href="/">SOCIAL REGISTRATION</a>
    <a class="nav__link__dropdown" href="/">FINANCIAL</a>
    <a class="nav__link__dropdown" href="/">GRADE REPORTS</a>
</div>
<div class="nav__dropdown nav__dropdown__resources">
    <a class="nav__link__dropdown" href="/">SUMMER HOUSING</a>
</div>