{% load static %}
<nav class="nav">
    <div class="nav__logo__container">
        <a href="/">
            <img class="nav__logo" src="{% static 'img/gtifc_horizontal_gold.png' %}" />
        </a>
    </div>
    <div class="nav__links__container">
        <button class="nav__link nav__link__about-us" data-menu="about-us">
            ABOUT US
        </button>
        <button class="nav__link nav__link__rush" data-menu="rush">
            RUSH
        </button>
        <button class="nav__link nav__link__chapters" data-menu="chapters">
            FOR CHAPTERS
        </button>
        <button class="nav__link nav__link__resources" data-menu="resources">
            RESOURCES
        </button>
        <button class="nav__link__button">
            CONTACT
        </button>
    </div>
</nav>
<div class="nav__dropdown nav__dropdown__about-us">
    <a class="nav__link__dropdown" href="/chapters">OUR CHAPTERS</a>
    <a class="nav__link__dropdown" href="/exec">EXECUTIVE BOARD</a>
</div>
<div class="nav__dropdown nav__dropdown__rush">
    <a class="nav__link__dropdown" href="/rush">HOW RUSH WORKS</a>
    <a class="nav__link__dropdown" href="/rush#rules-and-reporting">RULES AND REPORTING</a>
    <a class="nav__link__dropdown" href="/rush#faqs">FAQS</a>
</div>
<div class="nav__dropdown nav__dropdown__chapters">
    <a class="nav__link__dropdown" href="/static/pdf/IFC_Bylaws_04.14.2020.pdf">BYLAWS</a>
</div>
<div class="nav__dropdown nav__dropdown__resources">
    <a class="nav__link__dropdown" href="/">FOR PARENTS</a>
    <a class="nav__link__dropdown" href="/">SUMMER HOUSING</a>
</div>