{% load static %}
<nav class="nav nav__white">
    <div class="nav__logo__container">
        <a href="/">
            <img class="nav__logo" src="{% static 'img/gtifc_horizontal_gold.png' %}" />
        </a>
    </div>
    <div class="nav__links__container">
        <button class="nav__link nav__link__white nav__link__about-us" data-menu="about-us">
            ABOUT US
        </button>
        <button class="nav__link nav__link__white nav__link__rush" data-menu="rush">
            RUSH
        </button>
        <button class="nav__link nav__link__white nav__link__chapters" data-menu="chapters">
            FOR CHAPTERS
        </button>
        <button class="nav__link nav__link__white nav__link__resources" data-menu="resources">
            RESOURCES
        </button>
        <button class="nav__link nav__link__white nav__link__philanthropy" data-menu="philanthropy">
            PHILANTHROPY
        </button>
        <a class="nav__link__icon" href="https://www.instagram.com/gt.ifc/">
            {% include 'svg/instagram-nav.html' %}
        </a>
        <a class="nav__link__button" href="/#contact">
            CONTACT
        </a>
    </div>
    <button class="nav__menu__button nav__menu__button__white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path stroke="black" d="M1 5L23 5z"/>
            <path stroke="black" d="M1 12L23 12z"/>
            <path stroke="black" d="M1 19L23 19z"/>
        </svg>
    </button>
</nav>
<div class="nav__dropdown nav__dropdown__about-us">
    <a class="nav__link__dropdown" href="/chapters">OUR CHAPTERS</a>
    <a class="nav__link__dropdown" href="/exec">EXECUTIVE BOARD</a>
</div>
<div class="nav__dropdown nav__dropdown__rush">
    <a class="nav__link__dropdown" href="/rush">HOW RUSH WORKS</a>
    <a class="nav__link__dropdown" href="/rush#rules-and-reporting">RULES AND REPORTING</a>
    <a class="nav__link__dropdown" href="/rush#faqs">FAQS</a>
</div>
<div class="nav__dropdown nav__dropdown__chapters">
    <a class="nav__link__dropdown" href="/static/pdf/bylaws.pdf">BYLAWS</a>
</div>
<div class="nav__dropdown nav__dropdown__resources">
    <a class="nav__link__dropdown" href="/for-parents">FOR PARENTS</a>
    <a class="nav__link__dropdown" href="/static/pdf/grade_report_fall_2024.pdf">GRADE REPORTS</a>
</div>
<div class="nav__dropdown nav__dropdown__philanthropy">
    <a class="nav__link__dropdown" href="/ifc-philanthropy">IFC PHILANTHROPY</a>
    <a class="nav__link__dropdown" href="/chapter-philanthropy">CHAPTER PHILANTHROPY</a>
</div>
<div class="nav__mobile__menu">
    <div class="nav__mobile__menu__close__button__container">
        <button class="nav__mobile__menu__close__button">
            {% include 'svg/close.html' %}
        </button>
    </div>
    <h1 class="nav__mobile__menu__header">
        ABOUT US
    </h1>
    <a class="nav__mobile__menu__link" href="/chapters">
        OUR CHAPTERS
    </a>
    <a class="nav__mobile__menu__link" href="/exec">
        EXECUTIVE BOARD
    </a>
    <h1 class="nav__mobile__menu__header">
        RUSH
    </h1>
    <a class="nav__mobile__menu__link rush__link" href="/rush">
        HOW RUSH WORKS
    </a>
    <a class="nav__mobile__menu__link rush__link" href="/rush#rules-and-reporting">
        RULES AND REPORTING
    </a>
    <a class="nav__mobile__menu__link rush__link" href="/rush#faqs">
        FAQS
    </a>
    <h1 class="nav__mobile__menu__header">
        FOR CHAPTERS
    </h1>
    <a class="nav__mobile__menu__link" href="/static/pdf/bylaws.pdf">
        BYLAWS
    </a>
    <h1 class="nav__mobile__menu__header">
        RESOURCES
    </h1>
    <a class="nav__mobile__menu__link" href="/for-parents">
        FOR PARENTS
    </a>
    <a class="nav__mobile__menu__link" href="/static/pdf/grade_report_fall_2024.pdf">
        GRADE REPORTS
    </a>
    <h1 class="nav__mobile__menu__header">
        PHILANTHROPY
    </h1>
    <a class="nav__mobile__menu__link" href="/ifc-philanthropy">
        IFC PHILANTHROPY
    </a>
    <a class="nav__mobile__menu__link" href="/chapter-philanthropy">
        CHAPTER PHILANTHROPY
    </a>
</div>