{% load static %}
<style>
    
</style>
<div class="president__welcome__container">
    <div class="president__welcome__image__container">
        <img class="president__welcome__image" src="{% static 'img/exec/tony_tanory.png' %}" alt="president">
        <div class="president__welcome__image__name">Tony Tanory</div>
        <div class="president__welcome__image__title">President, IFC Executive Board 2025</div>
    </div>
    <div class="president__welcome__text">
        <h1 class="president__welcome__header">A Note from Our President</h1>
        <p>
            Welcome to the Georgia Tech Interfraternity Council! As the 
            president of IFC, it's my honor to represent an extraordinary group 
            of fraternity men who are committed to the ideals of brotherhood, 
            leadership, academics, and community service. 
        </p>
        <p>
            Our purpose is to govern and serve a united Greek community that is 
            dedicated to amplifying students' potential, expanding networks, and 
            improving the Georgia Tech experience. We are proud to represent a 
            community of 30 member fraternities that each go above and beyond, 
            both within and outside of Greek life.  
        </p>
        <p>
            Our men are leaders in many student organizations and active 
            participants in athletics and research. Furthermore, over the past 
            year our chapters have maintained an average GPA of a 3.58, 
            consistently exceeding the total undergraduate average at Georgia 
            Tech, as well as raising a total of over $220,000 for a multitude of 
            philanthropic causes.  
        </p>
        <p>
            For prospective new members, Rush represents an exciting opportunity 
            to explore what Greek life has to offer. Whether you're looking for 
            a support network, a way to give back to the community, or an 
            environment that challenges you to grow personally and 
            professionally, I guarantee that there is a place for you here. The 
            recruitment process gives students the opportunity to meet our 
            chapters, learn about their values and achievements, and allow you 
            find the brotherhood that will help you achieve your lifelong goals. 
            I can easily say that joining Greek life has been one of the most 
            positively impactful decisions of my college career, and I believe 
            that everyone should at least give it a shot. 
        </p>
        <p>
            I encourage you to explore our website and learn more about what 
            makes IFC at Georgia Tech so unique. If you have any questions or 
            would like to connect further, please don't hesitate to reach out. 
        </p>
        <p>Go Jackets,</p>
        <p>Tony Tanory</p>
    </div>
</div>