{% load static %}
<style>
    
</style>
<div class="president__welcome__container">
    <div class="president__welcome__image__container">
        <img class="president__welcome__image" src="{% static 'img/john_cox.jpg' %}" alt="president">
        <div class="president__welcome__image__name">John Cox</div>
        <div class="president__welcome__image__title">President, IFC Executive Board 2024</div>
    </div>
    <div class="president__welcome__text">
        <h1 class="president__welcome__header">A Note from Our President</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Arcu vitae nisi odio natoque efficitur pretium purus eleifend adipiscing. Magnis condimentum nam euismod nec aenean blandit convallis. Nibh maecenas maecenas conubia augue torquent sollicitudin hac purus. Auctor arcu vehicula dolor nibh ut primis. Lacus est tristique torquent leo dolor imperdiet vulputate sit. Finibus mi ut magnis integer facilisi sagittis consequat. Ultricies tincidunt phasellus orci natoque pretium ex gravida condimentum.
        </p>
        <p>Aliquet quisque odio non turpis laoreet neque per felis elementum. Penatibus scelerisque urna ornare aliquam ornare sit mattis? Interdum tempor pulvinar justo sollicitudin dui commodo. Efficitur nisi tempus eget, etiam sodales magna. Quam porta urna nascetur feugiat; natoque lectus eget curae morbi. Ipsum aenean primis cras sem non turpis; elit ipsum torquent. Leo vehicula odio nec varius risus tellus penatibus turpis. Interdum egestas sed rutrum aptent ullamcorper; ultricies dictumst molestie feugiat. Vel porta scelerisque nullam platea vel odio lectus habitasse.
        </p>
        <p>Erat dictum cras est magna, iaculis ultrices parturient. Consequat metus sed lacinia vestibulum donec non ad. Dolor hac feugiat purus sollicitudin eu pulvinar luctus. Ullamcorper suscipit metus integer taciti facilisis conubia quisque. Luctus torquent curabitur condimentum, integer litora fusce lacus ligula pretium. Dapibus conubia cursus nunc, pharetra feugiat aenean elementum! Sollicitudin finibus urna mattis ac placerat, nisl class praesent. Taciti cursus justo semper dis massa consectetur massa. Enim facilisi tristique est cras accumsan fames imperdiet.
        </p>
        <p>Erat dictum cras est magna, iaculis ultrices parturient. Consequat metus sed lacinia vestibulum donec non ad. Dolor hac feugiat purus sollicitudin eu pulvinar luctus. Ullamcorper suscipit metus integer taciti facilisis conubia quisque. Luctus torquent curabitur condimentum, integer litora fusce lacus ligula pretium. Dapibus conubia cursus nunc, pharetra feugiat aenean elementum! Sollicitudin finibus urna mattis ac placerat, nisl class praesent. Taciti cursus justo semper dis massa consectetur massa. Enim facilisi tristique est cras accumsan fames imperdiet.
        </p>
        <p>Fraternally, John Cox, President</p>
    </div>
</div>