<div class="recruitment__container">
    <h1 class="recruitment__header">Rush 2024</h1>
    <p class="recruitment__text">Something here.</p>
    <p class="recruitment__text">Something here too.</p>
    <p class="recruitment__text">August 14: PNM Orientation + Open house</p>
    <p class="recruitment__text">August 15: Open house </p>
    <p class="recruitment__text">August 16: Philanthropy + Finance</p>
    <p class="recruitment__text">August 17: Something Else</p>
    <p class="recruitment__text">August 18: Preference</p>
    <p class="recruitment__text">August 19: Bid Day/ First Day of School</p>
</div>