<div class="recruitment__container">
    <h1 class="recruitment__header">Rush 2024</h1>
    <p class="recruitment__text">August 14 @ 5PM: IFC Tabling - Peter's Parking Deck</p>
    <p class="recruitment__text">August 13 @ 11:15AM: Rush Orientation 1 - Klaus Auditorium</p>
    <p class="recruitment__text">August 14 @ 11:15AM: Rush Orientation 2 - Klaus Auditorium</p>
    <p class="recruitment__text">August 17 - 19 @ 7-11PM: Formal Rush</p>
    <p class="recruitment__text">August 20 - 22 @ 7-10PM: Formal Rush</p>
</div>