<style>
    .welcome__links__container {
        display: flex;
    }

    .welcome__link__container {
        height: 50vh;
        width: auto;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .welcome__link__container__blue {
        background-color: var(--navy-blue);
    }

    .welcome__link__container__gold {
        background-color: var(--tech-gold);
    }

    .welcome__link {
        font-family: "din-2014",sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: var(--white);
        display: block;
        overflow-x: visible !important;
    }

    .welcome__link__icon {
        fill: var(--white);
        height: 8rem;
        width: 8rem;
        margin: 0 0 2rem 0;
    }

    .arrow-icon {
        height: 16px;
        width: 32px;
        overflow: visible !important;
    }

    .arrow-icon path:nth-child(2) {
        d: path("M14.5 4H3.5H4");
    }

    .arrow-icon path {
        transition: 0.25s ease;
    }

    .welcome__link:hover {
        color: var(--white);
        text-decoration: none;
    }

    .welcome__link:hover .arrow-icon path:nth-child(1) {
        d: path("M15 4H4V4");
    }

    .welcome__link:hover .arrow-icon path:nth-child(2) {
        d: path("M14.5 4H3.5H0");
        transform: translateX(4px);
    }

    .welcome__link:hover .arrow-icon path:nth-child(3) {
        transform: translateX(4px);
    }
</style>
<div class="welcome__links__container">
    <div class="welcome__link__container welcome__link__container__blue">
        {% include "svg/house.html" %}
        <a class="welcome__link" href="/chapters">
            CHAPTERS
            {% include "svg/arrow.html" %}
        </a>
    </div>
    <div class="welcome__link__container welcome__link__container__gold">
        {% include "svg/question.html" %}
        <a class="welcome__link" href="/why-join">
            WHY JOIN?
            {% include "svg/arrow.html" %}
        </a>
    </div>
    <div class="welcome__link__container welcome__link__container__blue">
        {% include "svg/trophy.html" %}
        <a class="welcome__link" href="/awards">
            AWARDS
            {% include "svg/arrow.html" %}
        </a>
    </div>
</div>