<style>
    
</style>
<div class="welcome__links__container">
    <div class="welcome__link__container welcome__link__container__blue">
        {% include "svg/house.html" %}
        <a class="welcome__link" href="/chapters">
            CHAPTERS
            {% include "svg/arrow.html" %}
        </a>
    </div>
    <div class="welcome__link__container welcome__link__container__gold">
        {% include "svg/question.html" %}
        <a class="welcome__link" href="/why-join">
            WHY JOIN?
            {% include "svg/arrow.html" %}
        </a>
    </div>
    <div class="welcome__link__container welcome__link__container__blue">
        {% include "svg/trophy.html" %}
        <a class="welcome__link" href="/awards">
            AWARDS
            {% include "svg/arrow.html" %}
        </a>
    </div>
</div>