<div class="landing__background__container"></div>
<div class="landing__background__filter"></div>
<div class="welcome__section">
    <div class="welcome__container">
        <div class="welcome__line welcome__line-1">
            <span class="welcome__char__trans">G</span>
            <span class="welcome__char__trans">E</span>
            <span class="welcome__char__trans">O</span>
            <span class="welcome__char__trans">R</span>
            <span class="welcome__char__trans">G</span>
            <span class="welcome__char__trans">I</span>
            <span class="welcome__char__trans">A</span>
            <span class="welcome__char__trans">&nbsp;</span>
            <span class="welcome__char__trans">T</span>
            <span class="welcome__char__trans">E</span>
            <span class="welcome__char__trans">C</span>
            <span class="welcome__char__trans">H</span>
        </div>
        <div class="welcome__line welcome__line-2">
            <span class="welcome__char__trans">I</span>
            <span class="welcome__char__trans">N</span>
            <span class="welcome__char__trans">T</span>
            <span class="welcome__char__trans">E</span>
            <span class="welcome__char__trans">R</span>
            <span class="welcome__char__trans">F</span>
            <span class="welcome__char__trans">R</span>
            <span class="welcome__char__trans">A</span>
            <span class="welcome__char__trans">T</span>
            <span class="welcome__char__trans">E</span>
            <span class="welcome__char__trans">R</span>
            <span class="welcome__char__trans">N</span>
            <span class="welcome__char__trans">I</span>
            <span class="welcome__char__trans">T</span>
            <span class="welcome__char__trans">Y</span>
            <span class="welcome__char__trans">&nbsp;</span>
            <span class="welcome__char__trans">C</span>
            <span class="welcome__char__trans">O</span>
            <span class="welcome__char__trans">U</span>
            <span class="welcome__char__trans">N</span>
            <span class="welcome__char__trans">C</span>
            <span class="welcome__char__trans">I</span>
            <span class="welcome__char__trans">L</span>
        </div>
        <div class="welcome__button__container">
            <a class="welcome__button welcome__button__gold" href="/chapters">OUR CHAPTERS</a>
            <a class="welcome__button welcome__button__outline" href="/rush">RUSH 2024</a>
        </div>
    </div>
</div>