<style>
    
</style>
<div class="welcome__links__container">
    <a class="welcome__link__container welcome__link__container__blue" href="/chapters">
        {% include "svg/house.html" %}
        <div class="welcome__link" href="/chapters">
            CHAPTERS
            {% include "svg/arrow.html" %}
        </div>
    </a>
    <a class="welcome__link__container welcome__link__container__gold" href="/rush">
        {% include "svg/question.html" %}
        <div class="welcome__link">
            WHY RUSH?
            {% include "svg/arrow.html" %}
        </div>
    </a>
    <a class="welcome__link__container welcome__link__container__blue" href="/for-parents">
        {% include "svg/trophy.html" %}
        <div class="welcome__link">
            FOR PARENTS
            {% include "svg/arrow.html" %}
        </div>
    </a>
</div>